In [1]:
# Data exploration
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import NYC_GetCleaned_HistoricData 
import data_utility

MemoryError:

In [2]:
#Get the Current working directory
from NYC_GetCleaned_HistoricData import getCleanedDataFrame
crimes_original = getCleanedDataFrame()

In [3]:
crimes_original.head()

,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,OFNS_DESC,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,Latitude,Longitude,Lat_Lon
1,3/30/2014,20:40:00,3/30/2014,20:50:00,3/30/2014,DANGEROUS DRUGS,"CONTROLLED SUBSTANCE,INTENT TO",ATTEMPTED,FELONY,BRONX,INSIDE,RESIDENCE - APT. HOUSE,40.836162,-73.915250,"(40.836161968, -73.915249813)"
2,4/16/2014,22:10:00,4/16/2014,22:12:00,4/17/2014,DANGEROUS DRUGS,"CONTROLLED SUBSTANCE,POSSESS.",ATTEMPTED,FELONY,BRONX,INSIDE,STREET,40.894671,-73.861361,"(40.894670712, -73.86136123)"
3,4/8/2014,13:45:00,4/8/2014,13:50:00,4/8/2014,DANGEROUS DRUGS,"CONTROLLED SUBSTANCE, SALE 5",ATTEMPTED,FELONY,BRONX,INSIDE,STREET,40.864191,-73.901183,"(40.864190693, -73.901182887)"
4,5/17/2014,21:17:00,5/17/2014,21:24:00,5/17/2014,FELONY ASSAULT,"ASSAULT 2,1,PEACE OFFICER",ATTEMPTED,FELONY,BRONX,INSIDE,STREET,40.813052,-73.908159,"(40.813051503, -73.908158845)"
5,4/26/2014,00:00:00,4/26/2014,00:01:00,4/26/2014,FELONY ASSAULT,"ASSAULT 2,1,UNCLASSIFIED",ATTEMPTED,FELONY,BRONX,INSIDE,STREET,40.814602,-73.885895,"(40.814601602, -73.885895461)"

In [4]:
crimes_original.describe(include = [np.object])

,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,RPT_DT,OFNS_DESC,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,Lat_Lon
count,5835784,5835784,5835784,5835784,5835784,5835784,5835784,5835784,5835784,5835784,5835784,5835784,5835784
unique,4748,1442,4744,1441,4383,118,393,2,3,5,5,71,114676
top,1/1/2010,12:00:00,11/1/2006,12:00:00,5/29/2007,PETIT LARCENY,ASSAULT 3,COMPLETED,MISDEMEANOR,BROOKLYN,INSIDE,STREET,"(40.750430768, -73.989282176)"
freq,2150,154555,1787,114464,1822,965432,514123,5737288,3308577,1755449,4158621,1922164,19439

In [5]:
df = pd.DataFrame()
df['DateTime']= crimes_original['CMPLNT_FR_DT']

In [6]:
df.tail()

          DateTime
6039723  4/13/2006
6039724  4/19/2006
6039726  4/15/2006
6039727  6/15/2006
6039728  4/14/2006

In [ ]:
df['DateTime'] = df['DateTime'].astype('datetime64[ns]')

In [9]:
pd.Timestamp.min

Timestamp('1677-09-21 00:12:43.145225')