In [1]:
###------NYC DEMOGRAPHIC DATA-----###

In [3]:
# Data exploration
import pandas as pd
import numpy as np
from data_utility import readCsvFile

In [4]:
## Read CSV
demo_original = readCsvFile('../Data/NYC_Demographics.csv')
demo_original.head()

,Borough,Estimated Population,Land Area (sq mi),Density (per/sq mi),Poverty Rate (%),Mean Household Income,Median Household Income,Adults Not Graduated (%)
0,Bronx,1471160,42.10,34653,27.1,46298,34156,38.38
1,Brooklyn,2648771,70.82,37137,21.9,60020,41406,33.29
2,Manhattan,1664727,22.83,72033,17.6,121549,64217,22.10
3,Queens,2358582,108.53,21460,12.0,67027,53171,23.86
4,Staten Island,479458,58.37,8112,9.8,81498,66985,18.43